@import'./fonnts';
@import'./varieblies';
@import'./mixsin';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Inter';
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

@import'./all_block/all_block';